In [1]:
#import data
import pandas as pd
data = pd.read_csv('breast-cancer-wisconsin.csv', names = ['ID','Clump_Thickness','Uniform_Cell_Size','Uniform_Cell_Shape','Marginal_Adhesion','Epi_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses','Class'])

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 698
Data columns (total 11 columns):
ID                    699 non-null int64
Clump_Thickness       699 non-null int64
Uniform_Cell_Size     699 non-null int64
Uniform_Cell_Shape    699 non-null int64
Marginal_Adhesion     699 non-null int64
Epi_Cell_Size         699 non-null int64
Bare_Nuclei           699 non-null object
Bland_Chromatin       699 non-null int64
Normal_Nucleoli       699 non-null int64
Mitoses               699 non-null int64
Class                 699 non-null int64
dtypes: int64(10), object(1)
memory usage: 65.5+ KB

In [3]:
data.head()

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [18]:
grpby_class = data.groupby('Class')

In [20]:
grpby_class.count()

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses
Class,,,,,,,,,,
2,458,458,458,458,458,458,458,458,458,458
4,241,241,241,241,241,241,241,241,241,241

In [22]:
float(241)/699
#balance between two classes is less than 60/40

0.3447782546494993

In [25]:
#using less data from overloaded class
less_data_benign = data[data['Class'] == 2]
less_data_benign.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458 entries, 0 to 695
Data columns (total 11 columns):
ID                    458 non-null int64
Clump_Thickness       458 non-null int64
Uniform_Cell_Size     458 non-null int64
Uniform_Cell_Shape    458 non-null int64
Marginal_Adhesion     458 non-null int64
Epi_Cell_Size         458 non-null int64
Bare_Nuclei           458 non-null object
Bland_Chromatin       458 non-null int64
Normal_Nucleoli       458 non-null int64
Mitoses               458 non-null int64
Class                 458 non-null int64
dtypes: int64(10), object(1)
memory usage: 42.9+ KB

In [26]:
less_data_benign_samp = less_data_benign.sample(241)
malignant = data[data['Class'] == 4]

In [27]:
balanced_data = pd.concat([less_data_benign_samp, malignant])
balanced_data.describe()

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000
mean,1075935.568465,5.004149,3.950207,4.002075,3.477178,3.753112,3.985477,3.587137,1.823651,3.000000
std,719961.986114,3.009338,3.328453,3.219935,3.161044,2.454416,2.654341,3.381139,1.991672,1.001039
min,61634.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,861093.750000,3.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1168892.500000,5.000000,3.000000,3.000000,2.000000,3.000000,3.000000,1.000000,1.000000,3.000000
75%,1232132.000000,8.000000,6.000000,7.000000,5.000000,5.000000,7.000000,6.000000,1.000000,4.000000
max,13454352.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [28]:
balanced_data

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
552,1299924,3,2,2,2,2,1,4,2,1,2
417,1239967,1,1,1,1,2,1,2,1,1,2
504,1268766,1,1,1,1,2,1,1,1,1,2
346,830690,5,2,2,2,3,1,1,3,1,2
93,1158247,1,1,1,1,2,1,2,1,1,2
141,1183911,2,1,1,1,2,1,1,1,1,2
445,827627,2,1,1,1,2,1,1,1,1,2
291,561477,1,1,1,1,2,1,3,1,1,2
168,1198641,3,1,1,1,2,1,3,1,1,2
442,734111,1,1,1,3,2,3,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
481,1302428,5,3,2,4,2,1,1,1,1,2
638,1277792,4,1,1,1,2,1,1,1,1,2
627,1190546,2,1,1,1,2,5,1,1,1,2
422,1257648,4,3,3,1,2,1,3,3,1,2
119,1173681,3,2,1,1,2,2,3,1,1,2
390,1131411,1,1,1,2,2,1,2,1,1,2
634,1257366,3,1,1,1,2,1,1,1,1,2
614,1031608,2,1,1,1,1,1,2,1,1,2
297,61634,5,4,3,1,2,?,2,3,1,2
646,1311033,1,2,2,1,2,1,1,1,1,2
446,1049837,1,1,1,1,2,1,1,1,1,2
379,685977,5,3,4,1,4,1,3,1,1,2
345,826923,1,1,1,1,2,1,1,1,1,2
625,1183596,3,1,3,1,3,4,1,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
632,1238777,1,1,1,1,2,1,1,1,1,2
558,1321348,2,1,1,1,2,1,2,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
447,1058849,5,1,1,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
574,378275,10,9,7,3,4,2,7,7,1,4
581,878358,5,7,10,6,5,10,7,5,1,4
582,1107684,6,10,5,5,4,10,6,10,1,4
586,1254538,8,10,10,10,6,10,10,10,1,4
588,1268275,9,8,8,9,6,3,4,1,1,4
590,1294261,4,10,8,5,4,1,10,1,1,4
591,1295529,2,5,7,6,4,10,7,6,1,4
592,1298484,10,3,4,5,3,10,4,1,1,4
594,1315506,4,8,6,3,4,10,7,1,1,4
603,1352663,5,4,6,8,4,1,8,10,1,4
604,188336,5,3,2,8,5,10,8,1,2,4
605,352431,10,5,10,3,5,8,7,8,3,4
608,557583,5,10,10,10,10,10,10,1,1,4
610,736150,10,4,3,10,3,10,7,1,2,4
611,803531,5,10,10,10,5,2,8,5,1,4
612,822829,8,10,10,10,6,10,10,10,10,4
626,1190386,4,6,6,5,7,6,7,7,3,4
633,1253955,8,7,4,4,5,3,5,10,1,4
636,1268952,10,10,7,8,7,1,10,10,3,4
648,1315807,5,10,10,10,10,2,10,10,10,4
658,1334015,7,8,8,7,3,10,7,2,3,4
668,1350319,5,7,4,1,6,1,7,10,3,4
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
691,695091,5,10,10,5,4,5,4,4,1,4
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [30]:
#find question marks and drop
balanced_data[balanced_data.Bare_Nuclei == '?']

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
297,61634,5,4,3,1,2,?,2,3,1,2
139,1183246,1,1,1,1,1,?,2,1,1,2
294,606140,1,1,1,1,2,?,2,1,1,2
315,704168,4,6,5,6,7,?,4,9,1,2
249,169356,3,1,1,1,2,?,3,1,1,2
40,1096800,6,6,6,9,6,?,7,8,1,2
617,1057067,1,1,1,1,1,?,1,1,1,2
275,432809,3,1,3,1,2,?,2,1,1,2
321,733639,3,1,1,1,2,?,3,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
292,563649,8,8,8,1,2,?,6,10,1,4

In [31]:
balanced_data_cleaned = balanced_data.convert_objects(convert_numeric = True).dropna()

In [34]:
balanced_data_cleaned.describe()

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
count,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000
mean,1084788.583864,5.029724,3.970276,4.021231,3.507431,3.779193,4.509554,3.995754,3.588110,1.842887,3.014862
std,723866.188026,3.016121,3.342691,3.234715,3.166891,2.460339,3.933410,2.665777,3.379567,2.010808,1.000953
min,63375.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,878150.500000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1171795.000000,5.000000,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000,1.000000,1.000000,4.000000
75%,1236858.500000,8.000000,7.000000,7.000000,5.000000,5.000000,10.000000,7.000000,6.000000,1.000000,4.000000
max,13454352.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [36]:
#change 2/benign to 0 and 4/malignant to 1
#balanced_data_cleaned[balanced_data_cleaned.Class == 2]
balanced_data_cleaned.Class.replace([2, 4],[0,1],inplace=True)

In [37]:
balanced_data_cleaned.head()

,ID,Clump_Thickness,Uniform_Cell_Size,Uniform_Cell_Shape,Marginal_Adhesion,Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
552,1299924,3,2,2,2,2,1,4,2,1,0
417,1239967,1,1,1,1,2,1,2,1,1,0
504,1268766,1,1,1,1,2,1,1,1,1,0
346,830690,5,2,2,2,3,1,1,3,1,0
93,1158247,1,1,1,1,2,1,2,1,1,0

In [41]:
df = balanced_data_cleaned

In [42]:
target_col = "Class"
features_col =  ['ID','Clump_Thickness','Uniform_Cell_Size','Uniform_Cell_Shape','Marginal_Adhesion','Epi_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses']

In [43]:
features = df[features_col]
target = df[target_col]

In [45]:
target

552    0
417    0
504    0
346    0
93     0
141    0
445    0
291    0
168    0
442    0
679    0
481    0
638    0
627    0
422    0
119    0
390    0
634    0
614    0
646    0
446    0
379    0
345    0
625    0
673    0
632    0
558    0
695    0
447    0
645    0
      ..
574    1
581    1
582    1
586    1
588    1
590    1
591    1
592    1
594    1
603    1
604    1
605    1
608    1
610    1
611    1
612    1
626    1
633    1
636    1
648    1
658    1
668    1
669    1
670    1
680    1
681    1
691    1
696    1
697    1
698    1
Name: Class, dtype: int64

In [51]:
import numpy as np
from sklearn.cross_validation import StratifiedShuffleSplit

In [52]:
X = features.values
y = target.values

In [53]:
sss = StratifiedShuffleSplit(y, 3, test_size=0.5, random_state=0)

In [54]:
for train_index, test_index in sss:
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

('TRAIN:', array([ 12, 434, 124, 303,  76,  86, 430, 443, 419,  55, 345, 149, 387,
       416, 231, 306, 162, 327, 289, 238,  13, 150,  16,  50,  33,   5,
       457, 154, 455, 116, 156, 255, 452, 436,  63, 380, 418, 157, 203,
       353, 364,  96, 270, 354, 392, 213, 269, 242, 251, 459, 280, 347,
       170,  19, 111, 208, 424, 143, 122, 428, 135,   7,   3, 328, 161,
       104, 212, 357,  64, 375, 386, 137, 342, 190, 388, 411, 458, 302,
       258, 376,  22, 461, 237, 359, 466, 244, 130, 144, 406, 462,  71,
       173,  97, 152, 202,  90, 106,  60, 125,  44,  92, 194, 433, 414,
       447,  14, 367, 415, 233, 409, 334, 311, 456, 180,  66, 397, 307,
       153,  18, 134, 182, 454,  30, 210,  54,  52, 129, 291, 279,  62,
       281, 404, 126, 110, 403, 412,  41,  24, 160,   2, 101,   4, 437,
        56, 123,   8, 198, 374, 287, 341, 274, 441, 407,  74,  75, 417,
       207,  80, 176, 171, 366, 351, 205, 277, 439, 243, 393, 136,  20,
       286, 322, 402, 453, 247, 297, 159, 438, 432, 282, 108,  45, 308,
       145,  59,  83, 449, 330, 166, 183, 272,  40, 187,  15, 398, 209,
       384,  89, 310, 356, 309, 169, 396,  46,  51, 332, 219, 146,  26,
       444,  27,  61, 158, 373, 284, 107, 139, 118, 463, 350, 240, 336,
       292, 379, 288, 227, 236,  37, 109, 179, 294, 339, 362, 253, 285, 188]), 'TEST:', array([460, 368, 352, 230, 189, 256, 329, 468,  67, 228, 320, 317,   1,
       265,  49, 138, 147, 344, 314, 464, 254, 365, 408, 298, 423, 141,
       299, 427,  34, 290,   9, 114, 324, 395, 467, 164, 229, 232, 429,
       431,  35, 200, 119, 217, 426,  91, 422, 127, 133, 363, 234, 201,
       400, 211, 163, 346,  82, 401, 312, 249, 115, 360, 361, 420, 316,
       225, 445, 338, 105, 369, 355, 319, 349, 121, 358,  84, 195, 168,
       470,  78, 186, 278, 192,  85,  25, 185,  88,  10, 262,  29,  21,
        39, 250,  38,   0, 442, 193, 313,  17,  79,  32, 113, 151, 178,
       181, 167, 241, 148, 413, 131,  99,  42, 222, 446, 383, 235, 304,
        23, 260, 326, 261, 283, 175, 218, 223,  95,  48,  70, 271,  28,
        81, 399,   6, 220, 174, 117,  53, 199, 340, 226,  65, 267, 348,
       469, 165,  93,  72, 276, 300, 337, 268,  57, 390, 128, 177,  11,
       239, 378, 172, 112, 275, 214,  43, 184, 410, 264, 197,  47, 142,
       425, 323, 301, 246,  73, 273, 215, 196, 245, 335, 465, 263, 440,
       221, 451, 305, 103, 296, 331, 372, 293, 216, 259, 382, 295, 257,
       370, 371, 435, 389, 155, 132, 102, 333, 421, 248, 394, 100, 385,
       191, 321, 381,  94, 204, 315,  69, 266, 224, 120, 405,  58, 325,
        68, 252, 377, 343, 448, 450,  87,  98, 206,  36,  31,  77, 140,
       391, 318]))
('TRAIN:', array([ 79, 168, 134, 278, 468, 199, 361, 451, 230, 348, 159, 354, 426,
       251, 330, 449,  86,  69, 235, 142, 153,  18, 252, 125, 373, 206,
        96,  39, 204, 189,  48, 323,  26,  64, 275, 329, 414,  99, 345,
       213,  92, 217, 289, 434,  54,  91, 274,  70, 412, 243,  33, 362,
        72,  30, 110, 176,   0, 203, 401, 333, 395, 370, 237,  13, 119,
       224, 284, 469, 386, 143, 321, 344, 294, 402,  27, 409,  14, 339,
       430, 381, 448, 385, 194,  52,  17, 393, 340, 104, 378, 116,  49,
       325, 149, 380, 466, 173, 236, 270, 442, 439, 120,  61,   4,  75,
       180,  34, 222, 445,  20, 404, 405, 368,  71, 205,  44, 369, 353,
       137, 263, 367,  35, 187, 266,  50,  56, 182, 336, 219, 435, 178,
       214,  23, 301, 107,  80, 109, 413, 196, 254, 273, 158, 197,  36,
       316,  40,  22, 209, 420, 406,  19, 371, 295, 389, 126,  32, 423,
       352, 328,  47, 138, 257,  31, 319,  74, 136, 399, 311, 287, 453,
       128, 436, 342, 438, 320, 208, 249, 433, 296, 172, 179,  46, 317,
       422, 446, 105, 156, 460, 238, 461, 450, 383, 391, 447, 165,  87,
       437,  12, 308, 277, 229, 464, 211, 416, 127, 195, 280, 314,   1,
       365, 375, 190, 357, 255,  63, 428, 384, 403,  57,  37, 286, 188,
        42,  43,  41,  62, 429, 108,  53,  66, 304, 377, 276, 212, 326,  67]), 'TEST:', array([ 77, 169, 298, 111, 129,  84, 332, 387, 300, 154, 417, 123, 164,
       248, 256, 359, 113, 115, 309, 297, 366, 307, 306,  88, 343, 396,
       148,  58, 432, 376,  81, 141, 114, 347, 382,  98, 334, 135, 305,
        28, 146, 232, 421, 147, 467,   5, 271,  38, 303, 350, 258, 398,
        97, 121,  76, 283, 170, 452, 155, 411, 202, 335,   3, 346, 239,
       103,   2,  11,  78, 218, 299, 140, 117, 151, 313, 462, 130, 410,
       440, 351, 226, 207, 241, 425,  90, 272, 374, 210, 264,   6, 171,
       247, 407, 310, 415, 400, 160, 260, 269, 167, 200,  25, 244,  85,
       186, 261, 388, 192, 408, 349,  65, 397, 240,  10, 392, 364, 242,
       215, 338, 246, 220, 145, 293, 281, 122, 259, 315, 456, 133, 363,
       262, 223, 441, 302, 312, 356, 198, 292, 419, 132, 166, 253, 470,
       443,  45,  68,  15, 150,  24, 221, 234, 418, 341, 162, 157, 457,
       161, 174, 191, 267, 285,  93, 459,  51, 144, 337,  59,  55, 358,
        83, 184, 290,  60, 175, 265, 282, 250, 185, 458, 163, 427, 372,
         7, 454, 327, 324, 355, 118,   9, 181, 106,  16, 360,   8, 291,
       465, 318, 228,  29, 177, 279, 463, 152,  82,  95, 390, 455, 102,
       288,  21, 139, 322, 183, 100, 431, 112, 268, 444, 201,  73, 394,
        89, 245, 131, 101, 124, 216, 424, 227, 331, 225, 231,  94, 379,
       233, 193]))
('TRAIN:', array([190,  64,  89, 386, 359, 448, 315, 369,  92, 399, 192, 289, 286,
       244, 149, 207,  90, 400, 232, 300, 316, 467,  95, 220, 256, 274,
        63, 205, 313, 306,   8, 168,  79, 333, 167, 221, 222, 212, 101,
       466, 147, 462, 362, 425, 164,  56, 196, 215,  77, 446, 398, 282,
        73, 278, 388, 338, 379, 162, 328,  70, 291, 273, 429, 407, 271,
       361, 153, 330, 374, 309, 432, 112, 418, 402, 128,  48,  38, 341,
       111, 266, 231, 199, 165, 263, 160, 172, 335,  30, 433, 292, 447,
       109, 132, 141, 384,  51, 163, 100, 417, 356, 276, 156, 392, 145,
       378, 377, 213, 320,  69, 260, 408,  76, 405, 114, 159,  19,  59,
       185, 135, 177, 157, 381, 251, 219, 421, 345, 340,   3, 312, 218,
       452, 123,  85, 470, 301, 296, 303, 265, 397, 230, 228,   2, 170,
        40, 318, 395, 178, 224, 419, 161,  18, 302,  27, 414, 200, 254,
       105, 176,  13, 225, 235, 334, 416, 443, 314,  49, 184,  15, 193,
       124, 445, 317, 311, 257, 234, 227, 459, 427, 206, 331,   4, 396,
        78, 368, 247, 401, 415, 174,   1, 342,  93, 390, 255, 253, 394,
       211, 138, 325,  88,  44, 201, 182, 241, 242, 187, 179,  66, 441,
       106, 458, 376,  12, 188, 453, 133, 144, 120, 146, 363, 440, 110,
       347,   9, 412,  87, 413, 175, 373, 437, 203,  50, 380, 350, 140, 129]), 'TEST:', array([ 72, 332,  35, 150, 152, 336, 181, 424,  36, 279, 436, 294, 154,
       117, 295, 202,  62, 305, 371, 191,  33, 349, 367, 246, 326, 360,
       171,  98,  80, 431,  53, 269, 143, 410, 226, 455, 115, 439, 249,
       186,  74, 406, 113,  11, 290, 327, 383, 209,  81, 353,  52,  10,
        71, 308, 240, 385, 389, 258, 297, 189,  42, 121,  14, 217, 194,
       442, 142, 364, 411,  26,  20, 216, 236, 243, 337, 268, 118,  43,
       102, 239,  60, 366,  68, 409,  16, 460, 155,  82, 125, 357, 372,
        57,  55,  86, 404,  75, 204, 323, 284, 229, 403, 382, 285, 319,
       457, 238, 277, 298, 299, 451, 288, 245, 267, 197, 365, 393, 281,
         7,  22, 214,   0, 104, 375,   5, 195, 122, 183,  54, 426, 324,
       270, 280, 428, 464,  94,   6, 173, 116, 131,  58, 435, 463, 264,
       103, 444, 126, 283, 355, 343, 391,  99, 469, 151, 198, 107,  34,
       127, 344, 139, 287,  65, 262,  46, 456,  28, 275, 351, 272,  67,
       210, 449,  96, 237, 134, 321,  21, 293, 339, 137,  17, 158,  37,
       208, 352, 454, 307, 261, 438, 130, 223, 461, 108, 434, 346, 450,
       358, 250,  25, 233,  23, 422, 322, 430, 252,  47, 329, 169,  91,
        31,  24,  61, 387,  41, 310, 259, 166, 348, 304,  45,  97, 136,
       465, 420,  39,  84, 370, 248, 468, 180,  83, 423,  29,  32, 354,
       119, 148]))

In [55]:
from sklearn.metrics import classification_report

SyntaxError: invalid syntax (<ipython-input-57-f811ac32ca0b>, line 1)